@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: Inter;

}

label {
    margin: 0;
    margin-top: 2vh;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 50vw;

}

.common {
    margin: 0;
    margin-top: 2vh;
    padding: 0;
    display: flex;
    flex-direction: row;

}

.background {
    overflow-y: scroll;
    background-color: aliceblue;
    display: inline-block;
    vertical-align: top;
    width: 73vw;
    height: 90vh;
    padding: 1vw;
    position: relative;
}

.new_button {
    padding: 0%;
    width: 37px;
    height: 37px;
    z-index: 3;
    position: fixed;
    bottom: 7vh;
    right: 28.5vw;
}

.window {
    border-radius: 10px;
    z-index: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    padding: 2vmax;
    background-color: rgb(255, 255, 255);

    width: 60vw;
    height: 55vh;
    position: absolute;
    left: 5vw;
    top: 7vh;
    font-size: 3vw;
}

.close_button {
    border: none;
    background-color: white;
    position: absolute;
    right: 1vw;
    top: 1vh;
}

.button_div {
    margin-top: 3vh;
    display: flex;
    justify-content: space-between;
}

.delete_button {
    width: 8vw;
    height: 6vh;
    font-size: 2vw;
    color: aliceblue;
    border: 0;
    border-radius: 10px;
    background-color: rgb(245, 108, 108);

}

.save_button {
    width: 8vw;
    height: 6vh;
    font-size: 2vw;
    color: aliceblue;
    border: 0;
    border-radius: 10px;
    background-color: cadetblue;
    background-color: rgb(131, 109, 59);
}

.point_list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.point_item {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 13vh;
    border-style: solid;
    width: 60vw;
    position: relative;
    border-radius: 10px;
    border-color: rgb(112, 85, 45);
    margin-top: 3vh;
}

.title {

    margin: 0;
    margin-right: 3vw;
    margin-left: 1vw;
    padding: 0;
    font-size: 5vmax;

}

.icon {
    position: absolute;
    right: 3vw;
    width: 15vw;
    display: flex;
    justify-content: space-around;
}